
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Vous etes a la page d'accueil</h2>
    <p>My name is {{ name }}, and i'm {{ age }} years old.</p>
    <img src="{% static 'image.png' %}" alt="">
    <ul>
        {% for prenom in  data %}
            <li>{{ prenom }}</li>
        {% endfor %}
    </ul>
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>